<ul class="nav" snScrollSpy id="foo">
  <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="#section1">Section 1</a></li>
  <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="#section2">Section 2</a></li>
  <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="#section3">Section 3</a></li>
  <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="#section4">Section 4</a></li>
</ul>

<sn-scroll-spy-section id="section1" for="foo">
  <section class="section">Section 1</section>
</sn-scroll-spy-section>
<sn-scroll-spy-section id="section2" for="foo">
  <section class="section">Section 2</section>
</sn-scroll-spy-section>
<sn-scroll-spy-section id="section3" for="foo">
  <section class="section">Section 3</section>
</sn-scroll-spy-section>
<sn-scroll-spy-section id="section4" for="foo">
  <section class="section">Section 4</section>
</sn-scroll-spy-section>
