:host {
  display: block;
  font-family: Arial, sans-serif;
  padding-top: 40px;
}

.section {
  min-height: 101vh;
}

.section {
  align-items: center;
  color: black;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

sn-scroll-spy-section#section1 .section { background-color: #fef65b; }
sn-scroll-spy-section#section2 .section { background-color: #dfe134; }
sn-scroll-spy-section#section3 .section { background-color: #3fac54; }
sn-scroll-spy-section#section4 .section { background-color: #599346; }

.nav {
  background-color: #fff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

.nav-link.active {
  background-color: #007bff;
  color: #fff;
}
